<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head th:replace="fragmenta :: head-link"></head>

<body>

<div th:replace="fragmenta :: preloader"></div>

<div id="main-wrapper">

	<div th:replace="fragmenta :: top-header"></div>

	<div th:replace="fragmenta :: title-menu"></div>

	<div class="clearfix"></div>

	<section class="middle">
		<div class="container">
			<form th:action="@{/add-to-cart}" method="post">
				<div class="row justify-content-between">
					<div class="col-xl-5 col-lg-6 col-md-12 col-sm-12">
						<div class="quick_view_slide">
							<div class="single_view_slide">
								<a th:href="*{'data:image/jpeg;base64,' + product.image}" data-lightbox="roadtrip" class="d-block mb-4">
									<img th:src="*{'data:image/jpeg;base64,' + product.image}" class="img-fluid rounded" th:alt="${product.name}" />
								</a>
							</div>
						</div>
					</div>

					<div class="col-xl-7 col-lg-6 col-md-12 col-sm-12">
						<div class="prd_details pl-3">
							<input type="hidden" th:value="${product.id}" name="id">
							<div class="prt_01 mb-1">
								<span class="text-light bg-info rounded px-2 py-1" th:text="${product.category.name}"></span>
							</div>
							<div class="prt_02 mb-3">
								<h2 class="ft-bold mb-1" th:text="${product.name}"></h2>
								<div class="text-left">
									<div class="elis_rty">
										<span class="ft-medium text-muted line-through fs-md mr-2" th:text="'$' + ${product.costPrice}"></span>
										<span class="ft-bold theme-cl fs-lg mr-2" th:text="'$' + ${product.salePrice}"></span>
									</div>
								</div>
							</div>

							<div class="prt_03 mb-4">
								<p th:text="${product.description}"></p>
							</div>
							<div class="prt_05 mb-4">
								<div class="form-row mb-7">
									<div class="col-12 col-lg">
										<!-- Submit -->
										<button th:if = "${session.username != null}" type="submit" class="btn btn-block custom-height bg-dark mb-2">
											<i class="lni lni-shopping-basket mr-2"></i>Add to Cart
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</section>

	<!-- ======================= Similar Products Start ============================ -->
	<section class="middle pt-0">
		<div class="container">

			<div class="row justify-content-center">
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
					<div class="sec_title position-relative text-center">
						<h2 class="off_title">Similar Products</h2>
						<h3 class="ft-bold pt-3">Matching Products</h3>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
					<div class="slide_items">

						<!-- single Item -->
						<div class="single_itesm" th:each="productRelated : ${products}">
							<div class="product_grid card b-0 mb-0">
								<input type="hidden" th:value="${product.id}" name="id">
								<div class="card-body p-0">
									<div class="shop_thumb position-relative">
										<a class="card-img-top d-block overflow-hidden" th:href = "@{/find-product/{id}(id = ${productRelated.id})}">
											<img class="card-img-top" th:src="*{'data:image/jpeg;base64,' + productRelated.image}" th:alt="${productRelated.name}">
										</a>
										<div class="product-hover-overlay bg-dark d-flex align-items-center justify-content-center">
											<div class="edlio">
												<a th:href = "@{/find-product/{id}(id = ${productRelated.id})}" class="text-white fs-sm ft-medium">
													<i class="fas fa-eye mr-1"></i>Quick View</a>
											</div>
										</div>
									</div>
								</div>
								<div class="card-footer b-0 p-3 pb-0 d-flex align-items-start justify-content-center">
									<div class="text-left">
										<div class="text-center">
											<h5 class="fw-bolder fs-md mb-0 lh-1 mb-1"><a href="shop-single-v1.html" th:text="${productRelated.name}"></a></h5>
											<div class="elis_rty"><span class="ft-bold fs-md text-dark" th:text="${productRelated.salePrice}"></span></div>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- ======================= Similar Products Start ============================ -->

	<section th:replace="fragmenta :: features"></section>
=======
	<!-- ======================= Shop Style 1 ======================== -->
	<section class="bg-cover" style="background: url(../assets/images/banner-2.png) no-repeat;">
		<div class="container">
			<div class="row align-items-center justify-content-center">
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
					<div class="text-center py-5 mt-3 mb-3">
						<h1 class="ft-medium mb-3" th:text="${category.name}">Shop</h1>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- ======================= Shop Style 1 ======================== -->

	<!-- ======================= All Product List ======================== -->
	<section class="middle">
		<div class="container">
			<!-- row -->
			<div class="row">

				<div class="col-xl-3 col-lg-4 col-md-12 col-sm-12 p-xl-0">
					<div class="search-sidebar sm-sidebar border">
						<div class="search-sidebar-body">

							<!-- Single Option -->
							<div class="single_search_boxed">
								<div class="widget-boxed-header px-3">
									<h4 class="mt-3">Categories</h4>
								</div>
								<div class="widget-boxed-body">
									<div class="side-list no-border">
										<div class="filter-card" id="shop-categories">
											<!-- Single Filter Card -->
											<div class="single_filter_card">
												<!-- <h5><a href="#clothing" data-toggle="collapse" class="" aria-expanded="false" role="button">Clothing<i class="accordion-indicator ti-angle-down"></i></a></h5> -->

												<div class="collapse show" id="clothing" data-parent="#shop-categories">
													<div class="card-body">
														<div class="inner_widget_link">
															<ul>
																<li th:each="category : ${categories}">
																	<a th:href="@{/products-in-category/{id}(id = ${category.categoryId})}">[[${category.categoryName}]]<span>[[${category.numberOfProduct}]]</span></a>
																</li>
															</ul>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-xl-9 col-lg-8 col-md-12 col-sm-12">
					<div class="row">
						<div class="col-xl-4 col-lg-4 col-md-6 col-12" th:each="product : ${products}">
							<form th:action="@{/add-to-cart}" method="post">
								<div class="product_grid card b-0">
									<input type="hidden" th:value="${product.id}" name="id">
									<div class="badge bg-info text-white position-absolute ft-regular ab-left text-upper"><span th:text="${product.category.name}"></span></div>
									<div class="card-body p-0">
										<div class="shop_thumb position-relative custom-overflow-hidden">
											<a class="card-img-top d-block overflow-hidden ovr-hide" th:href="@{/find-product/{id}(id = ${product.id})}">
												<img class="card-img-top" th:src="*{'data:image/jpeg;base64,' + product.image}" th:alt="${product.name}">
											</a>
											<a class="card-img-top d-block overflow-hidden ovr-show" th:href="@{/find-product/{id}(id = ${product.id})}">
												<img class="card-img-top custom-product-hover" th:src="*{'data:image/jpeg;base64,' + product.image}" alt="...">
											</a>
											<div class="product-hover-overlay btn d-flex align-items-center justify-content-center">
												<div class="group_btn">
													<!-- <a href="#" data-toggle="modal" data-target="#quickview" class="prd_btn_square">
                                                        <i class="ti-fullscreen"></i>
                                                    </a> -->
													<button th:if="${session.username != null}" type="submit" class="prd_btn_square" data-toggle="tooltip" data-placement="top" title="Add To Cart">
														<i class="lni lni-shopping-basket"></i>
													</button>
												</div>
											</div>
										</div>
									</div>
									<div class="card-footer b-0 p-3 pb-0 bg-white d-flex align-items-start justify-content-center">
										<div class="text-left">
											<div class="text-center">
												<h5 class="fw-bolder fs-md mb-0 lh-1 mb-1"><a th:href="@{/find-product/{id}(id = ${product.id})}" th:text="${product.name}"></a></h5>
												<div class="elis_rty">
													<span class="text-muted ft-medium line-through mr-2" th:text="${product.costPrice}"></span>
													<span class="ft-bold theme-cl fs-md" th:text="${product.salePrice}"></span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- ======================= Customer Features ======================== -->
	<section th:replace="fragmenta :: features"></section>
	<!-- ======================= Customer Features ======================== -->

	<footer th:replace="fragmenta :: footer"></footer>

	<!-- Product View Modal -->
	<!-- <div class="modal fade lg-modal" id="quickview" tabindex="-1" role="dialog" aria-labelledby="quickviewmodal" aria-hidden="true">
        <div class="modal-dialog modal-xl login-pop-form" role="document">
            <div class="modal-content" id="quickviewmodal">
                <div class="modal-headers">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span class="ti-close" aria-hidden="true"></span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-5 col-md-12">
                            <div class="product_image">
                                <img src="#" alt="product-image" id="product-img">
                            </div>
                        </div>
                        <div class="col-lg-7 col-md-12">
                            <div class="product_quick_view">
                                <h2 class="ft-medium" id="product-name"></h2>
                                <h3 class="ft-bold theme-cl" id="product-price"></h3>
                                <p class="text-muted" id="product-desc"></p>
                                <form action="#" method="post">
                                    <input type="hidden" id="product-id">
                                    <input type="hidden" id="product-category">
                                    <button type="submit" class="btn btn-primary">Add to Cart</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
</div>

<div th:replace="fragmenta :: js-scripts"></div>


	<footer th:replace="fragmenta :: footer"></footer>

	<a id="back2Top" class="top-scroll" title="Back to top" href="#"><i class="ti-arrow-up"></i></a>


</div>
<div th:replace="fragmenta :: scripts"></div>
</body>
</html>
=======
</html>

